@import "../variables.scss";

nav {
  width: 100%;
  min-height: $nav-height;
  border-bottom: 1px solid $c-grey;
  background-color: $c-white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;

  div {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  @media (max-width: 700px) {
    grid-row: 1;
    border: none;
    position: fixed;
    padding: 0 20px;

    button {
      display: none;
    }
    // color: white;
  }
}
