@import "../variables.scss";

nav {
  width: 100%;
  min-height: $nav-height;
  display: flex;
  border-bottom: 1px solid $c-grey;
  background-color: $c-white;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  div {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
