{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "JSX": true
  },
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "react/button-has-type": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/prefer-default-export": "off",
    "no-shadow": "off"
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      // Your TypeScript files extension
      "parserOptions": {
        "project": ["./tsconfig.json"]
        // Specify it only for TypeScript files
      }
    }
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "ignorePatterns": ["src/**/*.test*", "node_modules"]
}
