@import "../variables.scss";

.all_news_list {
  // flex-grow: 1;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  gap: 25px;

  @media (max-width: 700px) {
    height: calc(100% - $nav-height);
    max-width: 80vw;
    padding-top: 20px;
  }
}

.all_news_cards {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
  gap: 50px 0;

  @media (max-width: 700px) {
    height: calc(100% - $nav-height);
    padding-top: 20px;
    max-width: 95vw;
    gap: 30px 0;
  }
}
