@import "../variables.scss";

.home_page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  gap: 50px;

  img {
    width: 80%;
  }

  @media (max-width: 700px) {
    grid-row: 2;

    // margin: 20px;
  }
}
