@import 'styles/colors.scss';

@mixin scrollbar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    border: solid 3px transparent;
  }

  &::-webkit-scrollbar:horizontal {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: $tertiary-gray;
    border-radius: 8px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $primary-gray;
    border-radius: 8px;
    border: solid 3px transparent;
  }
}