.main-content {
  padding-left: 250px;
}

.main-content h2 {
  padding-left: 2rem;
  padding-top: 1rem;
}

.news-layout-list {
  padding: 1rem 2rem 2rem 2rem;
  display: grid;
  gap: 1rem;
}

/* .news-layout-tiles {
  padding: 1rem 2rem 2rem 2rem;
  display: grid;
  gap: 1rem;
} */
