.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  padding: 1.5rem;
  z-index: 2;
}

.header h1 {
  color: #a3cf34;
}

.header h1 span {
  color: rgb(198, 198, 198);
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btns button:first-child {
  margin-right: 1rem;
}
