@import 'styles/colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: $primary-light-grey;
  border-bottom: 1px solid $primary-gray;
  .headerActions {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    .switches {
      margin-right: 2rem;
    }
  }
  #logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
}
