body {
  background-color: rgba(193, 193, 244, 0.08);
}
.sidebar-arrow {
  height: 50px;
  width: 50px;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-arrow:hover {
  cursor: pointer;
}
.d-none {
  display: none;
}
.bg-custom-color {
}
.card-text {
  font-family: 'Open Sans', sans-serif !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text:hover {
  text-decoration: underline !important;
}
