body {
  background-color: rgba(98, 98, 168, 0.218);
}
.sidebar-arrow {
  height: 50px;
  width: 50px;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-arrow:hover {
  cursor: pointer;
}
.d-none {
  display: none;
}

.card-text {
  font-family: 'Open Sans', sans-serif !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text:hover {
  text-decoration: underline !important;
}
.logo-text {
  font-family: 'Lucida', sans-serif;
}
.news-background {
  background-color: rgba(37, 37, 38, 0.218);
}
.card-body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  line-clamp: 3;
  height: 90px;
}
