

.article-popup-box {
    &__title {
        font-size: 4vh;
    }
    &__description {
        margin: 2.5vh 0;
        font-size: 2vh;
    }
    &__sign {
        align-self: end;
        font-size: 2vh;
        font-weight: bold;
        color: #7E61FC;
    }
    &__url {
        margin: 2.5vh 0;
        font-size: 1.5vh;
        color: #000;
        font-style: italic;
        text-decoration: none;
        line-break: anywhere;
        &:hover {
            color: #7E61FC;
        }
    }
}

@media (max-width: 500px) {
    .article-popup-box__title {
        font-size: 3vh;
    }
}