
.footer-wrapper {
    padding: 2vh 6vh;
    width: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    &__text {
        margin: 0 1vh;
        font-size: 2vh;
        text-align: center;
        color: #fff;
    }
}

@media(max-width: 767px) {
    .footer-wrapper {
        padding: 2vh 3vh;
    }

    .footer-content__text {
        font-size: 1.7vh;
    }
}

@media(max-width: 500px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-content__text {
        margin: .5vh 0;
    }
}