.card-list {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;

  -webkit-box-shadow: 0px 5px 24px 0px rgba(66, 68, 90, 0.27);
  -moz-box-shadow: 0px 5px 24px 0px rgba(66, 68, 90, 0.27);
  box-shadow: 0px 5px 24px 0px rgba(66, 68, 90, 0.27);
}

.card-list h3 {
  min-width: 60%;
}

.source-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-tile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;

  -webkit-box-shadow: 0px 5px 24px 0px rgba(66, 68, 90, 0.27);
  -moz-box-shadow: 0px 5px 24px 0px rgba(66, 68, 90, 0.27);
  box-shadow: 0px 5px 24px 0px rgba(66, 68, 90, 0.27);
}

.card-tile .source-date {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.source {
  padding: 1rem 0;
}

.article-img {
  width: 100%;
}

.url {
  margin: 1rem 0;
  width: 100%;
}

.read-more-btn {
  width: 100%;
  background-color: #a3cf34;
}

.read-more-btn:hover {
  background-color: white;
  color: black;
}

@media (max-width: 700px) {
  .card-list {
    flex-direction: column;
  }
}
