@import "../../variables.scss";

.element {
  @include button_a_with_shadow(auto);
  width: 95%;
  padding: 0 25px;

  display: grid;
  grid-template-areas: "title author date";
  grid-template-columns: auto 200px 200px;
  align-items: center;

  text-decoration: none;
  color: $c-dark;

  .title {
    grid-area: title;
    width: 100%;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: start;
  }

  .author {
    grid-area: author;
    color: $c-purple;
    justify-self: flex-end;
  }

  .date {
    grid-area: date;
    justify-self: flex-end;
  }
}
