@import "../../variables.scss";

.card {
  @include button_a_with_shadow(170px);
  width: 200px;
  height: auto;
  padding: 20px 10px;

  text-decoration: none;
  color: $c-dark;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 700;

  p {
    margin: 0;
  }

  img {
    height: 100px;
  }

  .gnNews {
    height: 30px;
  }

  @media (max-width: 700px) {
    width: 170px;
  }
}
