@import "../../variables.scss";

label {
  position: relative;
  display: inline-block;
  width: 74px;
  height: 40px;
  border-radius: 50px;

  background: $c-dark;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + span:before {
      transform: translateX(33px);
    }
  }

  span {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 50%;

    &:before {
      position: absolute;
      content: "";
      height: 31px;
      width: 31px;
      left: 5px;
      bottom: 5px;
      background: $c-purple;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}
