@import "../../variables.scss";

label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
  border-radius: 50px;

  background: $c-dark;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + span:before {
      transform: translateX(26px);
    }
  }

  span {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 50%;

    &:before {
      position: absolute;
      content: "";
      height: 25px;
      width: 25px;
      left: 5px;
      bottom: 5px;
      background: $c-purple;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  @media (max-width: 700px) {
    margin-right: 40px;
  }
}
