.newsPopupContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .urlImage {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
  }
  .content {
    flex: 1;
    padding: 1rem 2rem;
    span {
      color: gray;
      display: block;
      font-size: 1.1rem;
    }
    h3 {
      font-size: 1.6rem;
      margin: 1rem 0;
    }
    h4{
      margin-top: .5rem;
    }
    p{
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p:nth-of-type(2) {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

    }
    a {
      display: inline-block;
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      border: 2px solid black;
      transition: all 0.2s;
      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}
